<!-- Sidebar -->
<div id="sidebar-wrapper">
<%	 if current_user.admin? or current_user.editor? %>
<%	 else %>
      <ul class="sidebar-nav" >
        <li class="active"  ><i ><%= link_to "Nuevos autos", root_path %></i></li>
        <hr style="margin: 8px; margin-bottom: -10px">
        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Perfil", current_user %></i></li>
        <li ><i > <%= link_to "Amigos", users_path %></i></li>
        <hr style="margin: 8px">
        <h3  style="margin-bottom: -10px !important; margin-left: 20px"> Lotes</h3>
        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Camiones", actividades_camiones_path %></i></li>
        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Autos", actividades_autos_path %></i></li>
        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Deportivos", actividades_autosdeportivos_path %></i></li>
        <hr style="margin: 8px; margin-bottom: -10px; margin-top: 30px">

        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Events", eventos_path %></i></li>

      </ul>
  <%	 end %>
</div>
