
  <head>
   <%=	 render "layouts/header" %>
  </head>
  <body>
  <% if signed_in? 	  %>
  <div id="wrapper">
    <div class="hidden-xs">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="visible-xs" style="margin-top: 50px">
      <%= render 'layouts/sidebar' %>
    </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
        <div class="hidden-xs">
          <%= render 'layouts/topbar' %>
        </div>
          <div class="visible-xs">
            <%= render 'layouts/topbarxs' %>
          </div>
        <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="col-md-10 col-sm-12 col-lg-10">

                   <%= yield %>
              </div>
            </div>
        </div>
  </div>
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("active");
      });
  </script>
  <%  else %>
      <%= yield %>
  <% end %>
  </body>
</html>
