<!DOCTYPE html>
<html>
<head>
  <%=	 render "layouts/header2" %>
</head>

<body>

<% if signed_in? 	  %>

        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="col-md-12 col-sm-12 col-lg-12">

            <%= yield %>
          </div>
        </div>


<%  else %>
    <div id="wrapper">
      <!-- Page content -->
      <div id="page-content-wrapper">
        <%= render 'layouts/sidebarlogout' %>
        <div class="hidden-xs">
          <%= render 'layouts/topbarlogout' %>
        </div>
        <div class="visible-xs">
          <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="col-md-10 col-sm-12 col-lg-10">

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
    </script>
<% end %>



</body>
</html>
